<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit Your Note</h1>
    <form method="POST" action="/notes/<%= note.id %>?_method=PATCH">
        <div>
            <label>Title</label>
            <input type="text" name="title" value="<%= note.title %>">
        </div>

        <div>
            <label>Content</label>
            <textarea name="content"><%= note.content %></textarea>
        </div>

        <button>Save</button>
    </form>
</body>
</html>