<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - Read</title>
</head>
<body>
    <h1>Read Notes</h1>
<ul>
  <% for (let note of notes) { %>
    <li>
      <h2><%= note.title %> - <%= note.createdAt %></h2>
      <p><%= note.content %></p>
      <a href="/notes/<%= note.id %>">details</a>
    </li>
  <% } %>
</ul>

<a href="/notes/new">Create New Note</a>

</body>
</html>